.register-card {
  width: 400px;
  margin: 10% auto;
}

mat-card-header {
  display: flex;
  justify-content: center;
}

mat-card-content form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  width: 80%;
}

mat-card-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-section {
  margin-top: 10px;
}
