<mat-card class="register-card">
  <mat-card-header>
    <mat-card-title>
      Register
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="userForm">
      <mat-form-field>
        <input name="fullname"
               formControlName="fullname"
               matInput
               placeholder="Full Name"
               required>
      </mat-form-field>
      <mat-form-field>
        <input name="email"
               formControlName="email"
               matInput
               placeholder="Email"
               required
               type="email">
      </mat-form-field>
      <mat-form-field>
        <input name="password"
               formControlName="password"
               matInput
               placeholder="Password"
               required
               type="password">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button
            color="primary"
            (click)="register()">
      Login
    </button>
    <span>
      Already have an account?
      <a routerLink="/register">Login</a>
    </span>
  </mat-card-actions>
</mat-card>